
body, html
{
	height:100%;
}
#headerTable
{
	position:relative;
	float:left;
	height:auto;
	width:100%;
	overflow:hidden;
	
}
#headerRow
{
	position:relative;
	float:left;
	height:75%;
	width:100%;
	overflow:hidden;
	

}

#image
{
	float:left;
	position:relative;
	height:auto;
	width:auto;
	overflow:hidden;
	
}

img
{
	width:auto;
}
#welcome
{
	float:left;
	position:relative;
	width:auto;
	height:auto;
	text-align:center;
	overflow:hidden;
	left:17.5%;
	
	
}

h1
{
	position:relative;
	top:20%;
}

#loginBox
{
	float:right;
	position:relative;
	width:auto;
	height:auto;
	color:black;
	overflow:hidden;
}
#form
{
	
}
#email
{
	position:relative;
	width:100%;
}
#password
{
	position:relative;
	width:100%;
}
#submit
{
	float:left;
	position:relative;
}
#nonRegisteredMenu
{
	float:left;
	position:relative;
	float:left;
	width:100%;
	height:auto;
	overflow:hidden;
	
}

#nonRegisteredMenu td
{
	height:100%;
	overflow:hidden;
	
}

#home
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
}
#registration
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
}
#login
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
}
#about
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
}
#ourTeam
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
}
#contact
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
}
#sideBar
{
	float:left;
	position:relative;
	top:0px;
	border-right:4px solid #000;
	width:175px;
	height:100%;
}

#content
{
	position:relative;
	float:left;
}