
body, html
{
	height:100%;
}
#headerTable
{
	position:relative;
	float:left;
	height:10px;
	width:100%;
}
#headerRow
{
	float:left;
	position:relative;
	height:131px;
	width:100%;

}

#image
{
	float:left;
	position:relative;
	height:auto;
	width:13%;
	height:132px;
	border-right:4px solid black;
}

img
{
	width:100%;

}
#welcome
{
	float:left;
	position:relative;
	width:69.85%;
	text-align:center;
	padding: 25px 0px 25px ;
	height:82px;
}

#loginBox
{
	float:left;
	position:relative;
	width:16.59%;
	height:132px;
	border-left:4px solid black;
}




#nonRegisteredMenu
{
	float:left;
	position:relative;
	float:left;
	width:100%;
	border-top: 4px solid black;
	border-bottom:4px solid black;
}

#email
{
	position:relative;
	width:150px;
	left:32px;
}
#password
{
	position:relative;
	width:150px;
}
#submit
{
	float:right;
	position:relative;
	top:38px;
}

#home
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
	border-right:4px solid black;
}
#registration
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
	border-right:4px solid black;
}
#login
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
	border-right:4px solid black;
}
#about
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
	border-right:4px solid black;
}
#ourTeam
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
	border-right:4px solid black;
}
#contact
{
	float:left;
	position:relative;
	width:16.4%;
	text-align:center;
}
#sideBar
{
	float:left;
	position:relative;
	top:0px;
	border-right:4px solid #000;
	width:175px;
	height:100%;
}
.centeredMenu
{
	float:left;
	height:50px;
	width:1450px;
	border-bottom:4px solid #000;
	overflow:hidden;
	position:relative;
	
}
.centeredMenu ul
{
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:25%;
	width:100%;
	text-align:center;	
}
.centeredMenu ul li
{
	display:block;
	float:left;
	list-style:none;
	margin:10px;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
	
}

.centeredMenu ul li a
{
	display:block;
	margin:0px 2px 200px 5px;
	padding:3px 0px 3px 0px;
	color:#000;
	width:100%;
	text-align:center;
	position:relative;
	
}

#content
{
	position:relative;
	float:left;
}